<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>Log Analysis</title>
</head>
<body>
    <div class="container">
        <div class="row" style="padding-top:10px">
            {% for item in answers %}
            <div class="col-sm">
                <div class="card">
                    <div class="card-header">
                        {{ item['question'] }}
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for answer in item['answers'] %}
                        <li class="list-group-item">{{ answer }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>